
body{
  font-family: "Lucida Console";
  background:#c2c6f0;
  text-align: center;
margin:25px;
  width: 100%;
  color:#141a52;
}
.board-tile {
   background-color: #F5C100;
    color: white;
  text-shadow: 2px 2px 4px #141a52;
    font-size: 60px;
    flex: 1 0 33.3%;
    font-weight: 500;
    line-height: 100px;
    /*text-align: center;*/
    border: 4px solid #141a52;
}

.switch-tile {
    flex: 1 0 33.3%;
    font-size: 60px;
    line-height: 100px;
    /*text-align: center;*/
    border: 4px solid #141a52;
}
.card-tile {
    flex: 1 0 33.3%;
    font-size: 45px;
    line-height: 75px;
    color: white;
  text-shadow: 2px 2px 4px #141a52;
    border: 4px solid #141a52;
}
.dice-tile {
    /*text-align: center;*/
    /*padding:20px;*/
  background-color: white;
    flex: 1 0 33.3%;
    font-size: 100px;
    line-height: 100px;
    color: black;
  text-shadow: 2px 2px 4px #141a52;
    border: 4px solid #141a52;
}

.board-container {
    /*margin-top: 20px auto;*/
    display: flex;
  justify-content: center;
  align-items: center;
    flex-direction: column;
}
#gameButtonOptions{
  margin:10px auto;
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;*/
    grid-template-rows: 1fr 1fr;
}

#gameSettingOptions{
  margin:10px auto;
}
#gameChoiceButtons{
  margin:10px auto;
}
#bettingOptions{
  margin:20px auto;
}

.btn{
  background: #2D39B5;
  border:none;
  color:white;
  font-size:15px;
  padding:5px;
  font-family: "Lucida Console";
}
.btn-bet{
  /*display: inline-block;*/
  background: #2D39B5;
  border:5px green;
  color:white;
  font-size:20px;
  padding:10px;
  font-family: "Lucida Console";
}

#ticTacToeBoard {
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 33.3% 33.3% 33.3%;
}
#concentrationBoard {
    height: 300px;
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 25% 25% 25% 25%;
}
#chohanBoard {
    height: 250px;
    /* margin: 20px auto; */
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 50% 50%;*/
}
#lightsOutBoard {
    height: 100px;
    /* margin: 20px auto; */
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /*grid-template-rows: 33.3% 33.3% 33.3%;*/
}
