
body{
  font-family: "Lucida Console";
  background:#c2c6f0;
  text-align: center;
margin:25px;
  width: 100%;
  color:#141a52;
}
.board-tile {
   background-color: #F5C100;
    color: white;
    flex: 1 0 33.3%;
    font-size: 60px;
    font-weight: 500;
    line-height: 100px;
    /*text-align: center;*/
    border: 4px solid #141a52;
  text-shadow: 2px 2px 4px #141a52;
}


.switch-tile {
    flex: 1 0 33.3%;
    font-size: 60px;
    line-height: 100px;
    /*text-align: center;*/
    border: 4px solid #141a52;
}

.board-container {
    /*margin-top: 20px auto;*/
    display: flex;
  justify-content: center;
  align-items: center;
    flex-direction: column;
}
#gameButtonOptions{
  margin:10px auto;
}

.btn{
  background: #2D39B5;
  border:none;
  color:white;
  font-size:15px;
  padding:5px;
  font-family: "Lucida Console";
}

#ticTacToeBoard {
    height: 300px;
    /* margin: 20px auto; */
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 33.3% 33.3% 33.3%;
}

#lightsOutBoard {
    height: 100px;
    /* margin: 20px auto; */
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /*grid-template-rows: 33.3% 33.3% 33.3%;*/
}
